button {
  cursor: pointer; }

nav ul {
  margin: 0 30px 83px;
  padding-left: 0;
  padding-top: 40px;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-between; }

button:not(#app-button) {
  font-size: 27px;
  padding: 10px 110px;
  background-color: #db3e3e;
  color: #fff; }
  @media (max-width: 992px) {
    button:not(#app-button) {
      padding: 10px 70px; } }

#app-button {
  padding: 0;
  border: 0; }

main {
  margin: 0 50px; }

#hero-section {
  max-width: 1375px;
  margin: 0 auto; }
  #hero-section header {
    padding: 107px 0 275px;
    max-width: 1170px;
    margin: 0 auto 83px;
    text-align: center;
    border-bottom: 3px solid #f7f7f7; }
    #hero-section header h1 {
      margin: 0;
      font-size: 0; }
    #hero-section header span {
      display: block;
      font-size: 18px;
      margin-bottom: 43px; }
    #hero-section header img {
      width: 283px;
      padding: 10px 0px; }

#icon-section {
  max-width: 1170px;
  text-align: center;
  margin: 10px auto 88px;
  padding-bottom: 86px;
  border-bottom: 3px solid #f7f7f7; }
  #icon-section div {
    display: inline-block;
    max-width: 384px; }
    @media (max-width: 992px) {
      #icon-section div {
        padding-bottom: 70px; } }
  #icon-section svg {
    width: 95px; }
  #icon-section h2 {
    font-size: 18px; }
  #icon-section span {
    padding: 0 36px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block; }

#cta-section,
#contact-section {
  max-width: 1170px;
  margin: 10px auto 88px;
  padding-bottom: 86px;
  border-bottom: 3px solid #f7f7f7; }
  #cta-section h2,
  #contact-section h2 {
    font-size: 27px; }
  #cta-section button,
  #contact-section button {
    font-size: 16px;
    padding: 19px 58px;
    background-color: #db3e3e;
    color: #fff; }
  #cta-section img,
  #contact-section img {
    width: 100%; }
  #cta-section #cta-text,
  #contact-section #cta-text {
    box-sizing: border-box;
    margin-right: 4.33333%; }
  #cta-section #contact-text,
  #contact-section #contact-text {
    margin-left: 4.33333%; }
  @media (max-width: 992px) {
    #cta-section #contact-text,
    #cta-section #cta-text,
    #contact-section #contact-text,
    #contact-section #cta-text {
      text-align: center; }
      #cta-section #contact-text p,
      #cta-section #cta-text p,
      #contact-section #contact-text p,
      #contact-section #cta-text p {
        max-width: 600px;
        margin: 10px auto 30px; } }
  #cta-section #cta-image,
  #contact-section #cta-image {
    box-sizing: border-box;
    padding-left: 100px; }
    @media (max-width: 992px) {
      #cta-section #cta-image,
      #contact-section #cta-image {
        margin-top: 100px;
        padding: 0 50px;
        text-align: center; }
        #cta-section #cta-image img,
        #contact-section #cta-image img {
          max-width: 400px; } }
  #cta-section #contact-image,
  #contact-section #contact-image {
    box-sizing: border-box;
    padding-right: 100px; }
    @media (max-width: 992px) {
      #cta-section #contact-image,
      #contact-section #contact-image {
        display: none; } }

@media (max-width: 992px) {
  .sm-div,
  #icon-section div {
    width: 100%;
    display: block;
    margin: 0 auto; } }
